# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.pytest_cache/
*.swp

# Node / React
node_modules/
dist/
.venv/
.DS_Store
*.log

# Project specific
.vscode/
.idea/
backend/storage_temp/
temp_uploads/
data/
*.dcm
test_temp_uploads/

# Coverage
.coverage
coverage/
frontend/coverage/

# Database
*.db
*.sqlite3

# Test Artifacts
frontend/test_output.txt
frontend/playwright-report/
frontend/test-results/
